.maindiv{
    width: 100vw;
    background-color: rgb(89, 65, 113);
}
.review_bg_img{
    position: absolute;
    z-index: 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.footer_right_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    z-index: 1;
}
a{
    text-decoration: none;
}
.card{
    overflow: scroll;
}
.card h3{
    color: rgb(9, 38, 38);
}
.review_down_div .btn{
    position: relative;
    z-index: 1;
}
@media (max-width: 819px){
    .footer_right_content{
        display: none;
    }
}