  .body{
     width: 100%;
    height: 100%;
    background:
      white; 
      position: fixed;
  }
  .main{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background:
      linear-gradient(90deg, rgb(117, 78, 154) 21px, transparent 1%) center / 22px 22px,
      linear-gradient(rgb(117, 78, 154) 21px, transparent 1%) center / 22px 22px,
      rgb(255, 255, 255);
      opacity: 0.95;
  }
  .navbar{
    margin-left: 7vw;
    margin-right: 7vw;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
  }
  .loginsignup {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-evenly;
  }
  .design{
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
  }
  .svg {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .search__input {
    margin-top: 10vh;
    width: 50vw;
    padding: 4px;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding-left: 2rem;
    box-shadow: inset 2px 4px 5px 5px rgba(143, 37, 137, 0.256);
    font-family: inherit;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon {
    position: relative;
    margin-top: 10vh;
    height: 25px;
    width: 25px;
    right: 30px;
  }
  #scroll{
    position: absolute;
    left: 50%;
    bottom: 5px;
    height: 30px;
    width: 50px;
    transform: rotate(90deg);
  }
  @media screen and (max-width: 768px) {
    .navbar {
      width: 100%;
      background-color: rgb(103, 54, 149);
      color: aliceblue;
      z-index: 1000;
      margin: 0;
    }
    .img {
      display: none;
      opacity: 0;
    }
    .svg{
        display: none;
    }
    .content{
        width: 100%;
        margin-bottom: 0;
    }
  }