#about{
  width: 100%;
  height: 60vh;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  background: rgb(88, 68, 107);
}
#aboutus{
  height: 100%;
  width: 100%;
  position: fixed;
}
.main_page{
  box-shadow: 0 0 5px 7px rgb(87, 71, 100);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 60vh;
    flex-wrap: wrap;
  }
  .div1{
    width:400px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image_div{
    height: 90%;
    aspect-ratio: 1/1;
    filter: grayscale(0.4);
    filter: invert(0.2);
  }
  .about_image{
    border-radius: 25%;
    box-shadow: 0 0 5px 5px rgb(67, 27, 70);
  }
  .div2{
    width:500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .content{
    font-size: larger;
  } 
  
  .svg2{
    position: absolute;
    top: 15%;
    left: 2px;
  }
  .svg1{
    position: absolute;
    top: 5%;
    left: 60%;
  }
  .svg3{
    position: absolute;
    top: 85%;
    left: 90%;
  }
  .svg4{
    position: absolute;
    top: 85%;
    left: 10%;
  }
 

