.features-section {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .section-header {
    max-width: 100%;
    padding: 0 20px;
  }
}

.section-subtitle {
  color: #c9c9c9;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 400 18px Roboto, sans-serif;
}

.section-title {
  color: #3d3f42;
  text-align: center;
  letter-spacing: 0.54px;
  margin-top: 31px;
  font: 400 52px/115% Rajdhani, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .section-title {
    font-size: 40px;
  }
}

.icon {
  aspect-ratio: 1;
  object-position: center;
  width: 90px;
}

.steps-list {
  display: flex;
  margin-top: 20px;
  width: 100%;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .steps-list {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-title {
  color: #8c8e91;
  letter-spacing: 0.53px;
  font: 700 18px/156% Rajdhani, -apple-system, Roboto, Helvetica, sans-serif;
}

.step-description {
  color: #333448;
  margin-top: 10px;
  font: 500 22px/30px Rajdhani, -apple-system, Roboto, Helvetica, sans-serif;
}

.step-icon {
  aspect-ratio: 2;
  object-position: center;
  width: 37px;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .step-icon {
    margin-top: 40px;
  }
}